* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body:not(#Menu, #About) {
  overflow-x: hidden;
  overflow-y: hidden;
}
@font-face {
  font-family: Michland;
  src: url('/fonts/Michland.otf');
}
@font-face {
  font-family: Montserrat;
  src: url('/fonts/Montserrat.ttf');
}

/* Header */

header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  padding: 0px 120px 0px;
  font-family: sans-serif;
  z-index: 3;
}
header h2 {
  font-family: Raleway;
  font-size: 30px;
  color: #212121;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
header nav a{
  color: #212121;
  text-decoration: none;
  font-family: Montserrat;
  padding: 20px;
  font-size: 17px;
}
header nav img {
  margin-left: 15px;
  cursor: pointer;
}

/* Mobile nav */

header .mobile-wrapper {
  display: none;
}
header .mobile-nav {
  width: 0px;
  height: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
header .mobile-nav .line {
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background-color: #212121;
}

/* Full Nav Class */
.Nav-wrapper {
  display: none;
}
.Navigation-2 {
  position: fixed;
  background-color: white;
  z-index: 4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.Navigation-2 .closeNav {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 0px;
  color: black;
  font-size: 60px;
  font-family: Raleway;
}
.Navigation-2 nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Raleway;
  color: #212121;
  font-size: 40px;
}
.Navigation-2 nav a {
  color: #212121;
  text-decoration: none;
}
/* Shopping Cart */

.Cart-window {
  z-index: 3;
  width: 0;
  overflow: hidden;
  position: absolute;
  top: 90px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  font-family: Raleway;
  padding: 0px;
}
.Cart-show {
  width: 250px;
  padding: 10px;
}
.Cart-window .Cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 90%;
  padding: 10px;
}
.Cart-window .Cart-item img {
  width: 40px;
}
.Cart-window .Cart-item .Cart-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Cart-window .Cart-item span {
  cursor: pointer;
  background-color: #F44336;
  color: white;
  padding: 5px;
}
.Cart-window .Cart-total {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.Cart-window .Cart-total p:nth-child(1) {
  font-weight: bold;
}
.Cart-window .Cart-clear {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}
.Cart-window .Cart-buy {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #F5B460;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

/* Home */

.Home-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
.background-cube {
  position: absolute;
  left: -760px;
  top: -280px;
  width: 1200px;
  height: 1200px;
  background-color: #F5B460;
  transform: rotate(45deg);
  z-index: 0;
}
.grey-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FAFAFA;
  z-index: -1;
}
#Home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
#Home .Image-section {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Home .Image-section img {
  width: 550px;
  z-index: 2;
}
#Home .Image-section div {
  position: absolute;
  width: 440px;
  height: 440px;
  background-color: #FAFAFA;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#Home .Text-section {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #212121;
  z-index: 2;
}
#Home .Text-section h3{
   font-family: Raleway;
   font-size: 80px;
   padding: 10px;
}
#Home .Text-section .button {
  margin-top: 10px;
}
#Home .Text-section .button a{
  text-decoration: none;
  font-family: sans-serif;
  background-color: #F5B460;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

/* Mobile */

@media (max-width: 800px) {
  header {
    padding: 0px 60px 0px;
  }
  header nav {
    display: none;
  }
  header .mobile-wrapper {
    display: block;
  }
  header .mobile-nav {
    width: 60px;
    height: 25px;
  }
  .Home-wrapper {
    overflow-y: hidden;
  }
  .background-cube {
    top: -78%;
    right: -50%;
    transform: rotate(55deg);
  }
  #Home {
    flex-direction: column;
    justify-content: center;
  }
  #Home .Text-section {
    height: 30%;
    width: 100%;
  }
  #Home .Text-section h3{
     font-size: 40px;
  }
  #Home .Text-section .button a{
     background-color: white;
     color: #212121;
     border: 3px solid #212121;
  }
  #Home .Image-section {
    position: relative;
    width: 100%;
    height: 40%;
  }
  #Home .Image-section img {
    width: 360px;
  }
  #Home .Image-section div {
    width: 290px;
    height: 290px;
  }
}

/* Menu  */

#Menu .image-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
#Menu {
  overflow-y: visible;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
#Menu .middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: 1;
  font-family: michland;
  font-size: 40px;
}
hr {
  width: 30%;
}
.main-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 140vh;
  margin-top: 80px;
}
.main-menu img {
  width: 250px;
  height: 170px;
}
.main-menu .food {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-menu p {
  width: 250px;
  font-family: Raleway;
  font-weight: bolder;
  text-align: center;
}
.main-menu .details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}
.main-menu .order-now {
  margin-top: 10px;
  color: white;
  background-color: #F5B460;
  padding: 10px 20px;
  border-radius: 4px;
  width: 140px;
  cursor: pointer;
}
.main-menu .row-1 {
  width: 55%;
  height: 330px;
  display: flex;
  justify-content: space-between;
}
.main-menu .row-2 {
  width: 55%;
  height: 330px;
  display: flex;
  justify-content: space-between;
}
.main-menu .row-3 {
  width: 55%;
  height: 330px;
  display: flex;
  justify-content: space-between;
}

/* Mobile */

@media (max-width: 860px) {
  .main-menu img {
    transform: scale(0.7, 0.7);
  }
}

/* About-Us Page */

#About {
  display: flex;
  min-height: 120vh;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  overflow-x: hidden;
}
.main-text {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main-text div {
  width: 500px;
  text-align: center;
  padding: 30px;
  font-weight: bolder;
}
.main-text h1{
  font-family: Raleway;
}
.main-text .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: #212121;
  font-family: Raleway;
}
.main-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-image img:nth-child(1) {
  width: 600px;
}
.main-image img:nth-child(2) {
  width: 700px;
  z-index: -1;
  position: absolute;
  right: -30px;
}

/* Mobile */

@media (max-width: 850px) {
#About {
  flex-direction: column;
  height: 140vh;
}
.main-text div {
  width: 400px;
}
.main-text .text {
  font-size: 14px;
}
.main-image img:nth-child(1) {
  width: 450px;
}
}

/* Contact Section */

#Contact .image-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
#Contact {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
#Contact .middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: 1;
  font-family: michland;
  font-size: 40px;
}
.contact-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-container {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;
}
.contact-container h2 {
  font-family: sans-serif;
  font-weight: bolder;
  text-align: center;
}
.contact-container .input-section {
  padding-top: 20px;
}
.contact-container .input-section input[type="text"] {
  width: 300px;
  padding: 10px;
}
.contact-container .message-section {
  padding-top: 20px;
}
.contact-container .message-section textarea[type="text"] {
  width: 300px;
  height: 100px;
  padding: 10px;
  resize: none;
}
.contact-container .button-section {
  width: 100px;
  margin-top: 20px;
  font-family: Raleway;
  color: white;
  font-weight: bolder;
  padding: 10px 20px;
  background-color: #F5B460;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.contact-info {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* footer */

footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #212121;
  padding: 15px;
}
footer div {
  padding: 5px 0px 5px;
}
footer div img {
  padding: 8px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
}
footer div img:hover {
  transition: 0.2s;
  transform: translateY(-10px);
}
footer p {
  font-family: Raleway;
  font-weight: bolder;
  color: white;
}
