* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Michland;
  src: url('/fonts/Michland.otf');
}
header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  padding: 0px 80px 0px;
  color: white;
  font-family: sans-serif;
  z-index: 1;
}
header h2 {
  font-family: Michland;
  font-size: 45px;
}
header nav a{
  color: white;
  text-decoration: none;
  padding: 20px;
  font-size: 17px;
}

/* Main Page */

.black {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
#Home .image-background {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100vh;
background-size: cover;
background-position: center;
z-index: -1;
}
#Home {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
#Home .middle-section {
  text-align: center;
  color: white;
  z-index: 1;
}
#Home .middle-section h1{
  font-family: michland;
  font-size: 50px;
  padding: 30px 90px 30px;
}
#Home .middle-section h3{
  font-size: 20px;
  padding: 20px 90px 30px;
  font-family: sans-serif;
}
#Home .middle-section a {
  color: white;
  text-decoration: none;
  font-family: monospace;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 30px 10px;
}
#Home .middle-section a:hover {
  background-color: #EF6C00;
  border: 2px solid #EF6C00;
  transition: 0.5s;
}
footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #424242;
  color: white;
  font-family: monospace;
  padding: 15px 0 15px;
}

/* Menu Page */

#Menu .image-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
#Menu {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
#Menu .middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: 1;
  font-family: michland;
  font-size: 40px;
}
hr {
  width: 30%;
}
.main-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 130vh;
  margin-top: 80px;
}
.main-menu img {
  width: 250px;
  height: 170px;
}
.main-menu .food {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-menu p {
  width: 250px;
  font-family: Raleway;
  font-weight: bolder;
  text-align: center;
}
.main-menu .order-now {
  margin-top: 10px;
  color: white;
  padding: 10px 20px;
  background-color: #EF6C00;
  border-radius: 4px;
  width: 140px;
}
.main-menu .order-now:hover {
 cursor: pointer;
}
.main-menu .row-1 {
  width: 55%;
  height: 330px;
  display: flex;
  justify-content: space-between;
}
.main-menu .row-2 {
  width: 55%;
  height: 330px;
  display: flex;
  justify-content: space-between;
}
.main-menu .row-3 {
  width: 55%;
  height: 330px;
  display: flex;
  justify-content: space-between;
}

/* About-Us Page */

#About .image-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
#About {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
#About .middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: 1;
  font-family: michland;
  font-size: 40px;
}
hr {
  width: 30%;
}
.main-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60vh;
}
.main-text div {
  width: 50%;
  text-align: center;
}
.main-text div p {
}

/* Contact Section */

#Contact .image-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
#Contact {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
#Contact .middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: 1;
  font-family: michland;
  font-size: 40px;
}
hr {
  width: 30%;
}
footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #212121;
  padding: 15px;
}
footer div {
  padding: 5px 0px 5px;
}
footer div img {
  padding: 8px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
}
footer div img:hover {
  transition: 0.2s;
  transform: translateY(-10px);
}
footer p {
  font-family: Raleway;
  font-weight: bolder;
  color: white;
}
/* Contact Page */
